{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
   {% for j in result %}
   <div class="col-md-3">
    <div class="card">
  <img class="card-img-top" src="{{j.img.url}}" alt="Card image cap" height="250">
  <div class="card-body">
    <h5 class="card-title">{{j.name}}</h5>
    <p class="card-text">{{j.year}}</p>
    <a href="{% url 'moviesapp:detail' j.id %}" class="btn btn-primary">View Details</a>
  </div>
    </div>
   </div>
   {% endfor %}
  </div>
    <br><br>
    <a href="{% url 'moviesapp:add_movie' %}" class="btn btn-primary">Add New Movie</a>

</div>
{% endblock %}